.divs{
    text-align: center;
}

.mehsul{
    width: 350px;
}

.des{
    font-weight: bold;
}


ul li{
    font-size: 25px;
    margin-left: 25px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    left: 500px;    
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: all 2s;
    word-spacing: 2px;
}

a:hover,li:hover{
    text-decoration:overline;
    color: white;
    word-spacing: 10px;
    letter-spacing: 5px;
}
